{{extend 'layout.html'}}

<img src="{{=URL('static','images/logotipo-saludpol-web.jpg')}}">
<br/><br/><br/>
Estimados asegurados, mediante este módulo usted  podrá ingresar su QUEJA o SUGERENCIA, para que podamos procesarlo de la manera más rápida y transparente posible. Le pedimos de manera sincera nuestras disculpas por los problemas causados y haremos el mayor esfuerzo porque los servicios de SALUDPOL y en general los servicios de salud de la Policía Nacional del Perú mejoren cada día.
<br/><br/><br/>
Seleccione el requerimiento:
<br/><br/>
<table>
<tr>
    <td><a href='{{=URL('attention', 'registros', vars=dict(tipo=0))}}' class='button_new'>Reclamo</a></td>
    <td><a href='{{=URL('attention', 'registros', vars=dict(tipo=1))}}' class='button_new'>Sugerencia</a></td>
</tr>
</table>